<div style="cursor: pointer" class="statusgenset" hx-get="{% url 'dropdownstatus' id=datagenset.id %}">
    {% if datagenset.status_genset == "DIPAKAI" %}
        <span class="badge bg-primary">{{ datagenset.status_genset }}</span>
    {% elif datagenset.status_genset == "GROUNDED" %}
        <span class="badge bg-dark">{{ datagenset.status_genset }}</span>
    {% elif datagenset.status_genset == "SERVIS" %}
        <span class="badge bg-warning">{{ datagenset.status_genset }}</span>
    {% elif datagenset.status_genset == "READY" %}
        <span class="badge bg-success">{{ datagenset.status_genset }}</span>
    {% endif %}
</div>